.modal-content{
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    height: 400px;
    width: 440px;
    background-color: var(--card-color);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* justify-content: center;
   display:flex ;
   align-items: center; */
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: block;
  }
  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.exit-container{
    background-color: aqua;
    color: blue;
    display: block;
}