.landing {
    position: relative;
    /* background: url('https://thumbs.dreamstime.com/b/slime-green-goo-messy-blobs-splat-mucus-liquid-blob-dripping-design-elements-139448262.jpg') no-repeat center center/cover; */
    height: 100vh;
  }
  
  .landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dark-overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }