.add-book-container{
    /* margin-top: 45px; */
    display: flex;
    justify-content: center;
}
.add-book-btn{
    padding: 6px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: var(--primary-color);
    background-color:#CBAF87;
  
}
.add-book-btn:hover{
  cursor: pointer;
}
