.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar a {
    color: var(--text-color);
    padding: 0.55rem;
    margin: 0 0.25rem;
  }

  
  .navbar a:hover {
    color: white
  }
  
  .navbar .welcome span {
    margin-right: 0.6rem;
  }
  .btn-logout{
    color: var(--text-color);
    border: none  ;
    background-color: inherit;
  margin-right: 10px;
  }
